<template>
  <div class="form-container">
    <form @submit.prevent="sendForm">
        <div class="input-field">
          <input id="icon_prefix" type="text" class="validate" 
           v-model="name">
          <label for="icon_prefix">Имя</label>
        </div>
        <div class="input-field">
          <textarea id="textarea1" class="materialize-textarea"
           v-model="comment"></textarea>
          <label for="textarea1">Комментарий</label>
        </div>
      <button type="submit" class="waves-effect waves-light btn">Отправить</button>
    </form>
      {{ response }}
  </div>
</template>

<script> 
import axios from 'axios';

export default {
  name: 'simpleForm',
  data: function() {
    return {
      name: "", comment: "", response: ""
    }
  },
  methods: {
    async sendForm() {
      // const port = process.env.VUE_APP_BACK_PORT || 3111;
      console.log(process.env, `http://${location.hostname}:${process.env.VUE_APP_BACKEND_PORT}/send-form`)
      await axios({
        url: `http://${location.hostname}:${process.env.VUE_APP_BACKEND_PORT}/send-form`,
        method: 'post',
        data: {
          name: this.name,
          comment: this.comment
        }
      }).then(response => (this.response = response.data))
    }
  }
}
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  form{
    width: 100%;
  }

  .form-container {
    width: 860px;
    display: inline-block;
  }
</style>
